[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
yapf = "*"
flake8 = "*"
pycodestyle = "*"
pyinstaller = "*"
sphinx = "*"

[packages]
flask = "*"
line-bot-sdk = "*"

[requires]
python_version = "3.7"
